[Unit]
Description=Tanfolyamrobot frontend service
After=network.target

[Service]
User=dkiovics
Group=dkiovics
WorkingDirectory=/WS/TanfolyamRobot/react-robot-dashboard
ExecStart=/WS/TanfolyamRobot/react-robot-dashboard/start.sh

[Install]
WantedBy=multi-user.target